@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
    display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.footer {
background-color: #eeeeee;
}

.right-links, .left-links {
 display: flex;
 gap: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: gray;
}