/* Add CSS Styling */

.odd {
    background-color: lightcoral;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#number2 {
    color: blue;
    font-weight: 500;
    font-size: 50px;
}

.bigger-size {
      background-color: lightcoral;
    font-size: 40px;  
}

#number4 {
    background-color: lightgreen;
    font-size: 35px;
    font-weight: 700;
}