body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 525px;
  background: #fff;
  margin: 20px auto;
  padding: 15px;
}

.title {
  background: #e3f4ff;
  margin-top: 20px;
  font-size: 22px;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 15px;
  display: block;
  margin: 0 auto;
}